<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
</head>
<body>
    <h1>User Profile page</h1>
    <h3>Username: <%= name %></h3>
    <h3>Email: <%= email %></h3>
    <form action="/users/signout" method="post">
        <button type="submit">Sign Out</button>
    </form>
</body>
</html>